{% extends 'layouts/base.html' %}

{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <script src="{% static 'js/messages.js' %}"></script>

{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible show" role="alert" id="message-{{ forloop.counter }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'inventario:crear_categoria'%}">
    {% csrf_token %}
    <input type="number" name="return_id" value="1" hidden>
    <div class="mb-3">
        <label for="nombre">Nombre de Categoría:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" autofocus required>
    </div>
    <button type="submit" class="btn btn-primary">Crear Categoría</button>
</form>

{% endblock %}