{% extends 'layouts/base.html' %}


{% block title %} Nuevo Productos {% endblock %}

{% block header %}



{% endblock %}

{% block content %}

<h1>Nuevo Producto</h1>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-5">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Código</span>
                <input type="text" for="codigo" class="form-control" placeholder="Ingresar..." aria-label="codigo" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
                <input type="text" for="nombre" class="form-control" placeholder="Ingresar..." aria-label="nombre" aria-describedby="basic-addon1">
            </div>
        
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Stock</span>
                <input type="number" for="stock" class="form-control" placeholder="Ingresar..." aria-label="stock" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Categoría</span>
                <select class="form-select" aria-label="categoria">
                    <option selected>Seleccionar</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text">Descripción</span>
                <textarea placeholder="Ingresar..." class="form-control" for="descripcion" aria-label="descripcion"></textarea>
            </div>

            <div class="input-group">
                <button type="submit" class="btn btn-primary">Añadir Producto</button>
            </div>
        </div>
    </div>
    
    
</form>

{% endblock %}

{% block footer %}



{% endblock %}

