{% extends 'layouts/base.html' %}


{% block title %}Detalle{% endblock %}

{% block content %}

<div class="card p-3 mt-3">
    <div class="row">
        <!-- Contenedor izquierdo con datos del producto -->
        <div class="col-md-8">
            <h2 class="card-title">{{ producto.categoria }} ({{ producto.codigo }})</h2>
            <h5 class="card-subtitle mb-2 text-muted">Código: {{ producto.codigo }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Marca: {{ producto.marca }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Categoría: {{ producto.categoria }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Stock: {{ producto.stock }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Descripción: {{ producto.descripcion }}</h5>
        </div>
        <!-- Contenedor derecho con botones alineados arriba -->
        <div class="col-md-4 d-flex justify-content-end align-items-start">
            <a href="{% url 'inventario:editar_producto' producto.id %}" class="btn btn-warning me-2">Editar</a>
            <a href="{% url 'inventario:eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
</div>
<a href="{% url 'inventario:index' %}" class="btn btn-primary mt-3">Volver</a>


{% endblock %}